extends baseEmail

block content 
   
   
    p Hi  #{firstName},
    p You Forget Password Don't Worry 
    p Click On The Below Reset Button To Reset Your Password
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password
    p If You Did'nt Request This PLease Ignore
    